/* styles.css */

body {
    background: url('./videos./fondo.mp4') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ajusta el tamaño del body para ocupar toda la pantalla */
    font-family: 'Arial', sans-serif;
  }
  