body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
  filter: blur(2px); /* Ajusta el valor de desenfoque según lo deseado */
}
